---
import "../styles/global.css";

const { title = "Umma" } = Astro.props;
const gaMeasurementId = import.meta.env.PUBLIC_GA_MEASUREMENT_ID;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <title>{title}</title>
    {
      gaMeasurementId && (
        <>
          <script
            async
            src={`https://www.googletagmanager.com/gtag/js?id=${gaMeasurementId}`}
          />
          <script define:vars={{ gaMeasurementId }}>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
              window.dataLayer.push(arguments);
            }
            gtag("js", new Date());
            gtag("config", gaMeasurementId);
          </script>
        </>
      )
    }
  </head>

  <body>
    <slot />
  </body>
</html>
